@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@layer base {
  html,
  body {
    @apply font-[Pretendard];
    margin: 0;
    padding: 0;
  }

  button {
    border: 0;
    background-color: transparent;
  }
}

@layer components {
  .top-menu {
    -webkit-app-region: drag;
    @apply flex justify-between bg-ourBgGray;
  }

  .top-menu-button {
    -webkit-app-region: no-drag;
    @apply py-[18.5px] px-[18.5px] text-ourBtnGray hover:bg-ourBgLightGray hover:text-white;
  }

  .top-menu-button-red {
    -webkit-app-region: no-drag;
    @apply py-[18.5px] px-[18.5px] text-ourBtnGray hover:bg-ourBgRed hover:text-white;
  }

  .top-menu-menu {
    -webkit-app-region: no-drag;
    @apply p-4 text-ourBtnGray hover:bg-ourBgLightGray hover:text-white;
  }

  .side-menu-button {
    @apply flex flex-col items-center justify-center w-full py-2  hover:bg-ourBgLightGray hover:text-gray-200 hover:cursor-pointer rounded-md;
  }
}

@layer utilities {
}
