@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply font-[Pretendard];
    margin: 0;
    padding: 0;
  }

  button {
    border: 0;
    background-color: transparent;
  }
}

@layer components {
  .window-title-bar {
    -webkit-app-region: drag;
    @apply flex justify-between bg-ourBgGray;
  }

  .window-button {
    -webkit-app-region: no-drag;
    @apply p-4 text-ourBtnGray hover:bg-ourBgLightGray hover:text-white;
  }

  .window-red-button {
    -webkit-app-region: no-drag;
    @apply p-4 text-ourBtnGray hover:bg-ourBgRed hover:text-white;
  }

  .window-menu {
    -webkit-app-region: no-drag;
    @apply p-4 text-ourBtnGray hover:bg-ourBgLightGray hover:text-white;
  }
}

@layer utilities {
}
