@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@layer base {
  html,
  body {
    @apply font-[Pretendard];
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  button {
    background-color: transparent;
  }

  .c-scroll {
    overflow-y: auto;
  }

  .c-scroll::-webkit-scrollbar-thumb {
    height: 30%;
    background-color: #b4b4b456;
    border-radius: 20px;
  }

  .c-scroll::-webkit-scrollbar-track {
    background-color: #b4b4b438;
  }

  .c-scroll::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .c-scroll-sm::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
}

@layer components {
  .top-menu {
    -webkit-app-region: drag;
    @apply flex justify-between bg-ourBgGray  border-ourLnLightGray border-b-[1px];
  }

  .top-menu-button {
    -webkit-app-region: no-drag;
    @apply py-[18.5px] px-[18.5px] text-ourLnGray hover:bg-ourBgLightGray hover:text-white;
  }

  .top-menu-button-red {
    -webkit-app-region: no-drag;
    @apply py-[18.5px] px-[18.5px] text-ourLnGray hover:bg-ourBgRed hover:text-white;
  }

  .top-menu-menu {
    -webkit-app-region: no-drag;
    @apply p-4 text-ourLnGray hover:bg-ourBgLightGray hover:text-white;
  }

  .side-menu-button {
    @apply select-none flex flex-col items-center justify-center w-full py-2  hover:bg-ourBgLightGray hover:text-ourLnWhite hover:cursor-pointer rounded-md;
  }
}

@layer utilities {
}
